<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="130.1.90" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="130.1.90" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="130.1.9" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="130.1.9" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net472" />
</packages>